input::selection {
  background: #f3f3f3;
}
input::-moz-selection {
  background: #f3f3f3;
}

.hidden {
	display: none;
}

.shortlist-empty-message {
	width:100%;
	height:240px;
	line-height:240px;
	text-align:center;
	font-size:20px;
	color:#ccc;
}

.tab-wrapper {
	width:100%;
	height:40px;
}

.tab.active {
	background:#FFF;
	box-shadow: none;
}

.tab b{
	font-size:20px;
	font-weight:300;
}

.tab {
	background:#eee;
	box-shadow: inset 2px -2px 6px -4px #585858;
	width:100%;
	line-height:40px;
	height:40px;
	text-align:center;
	width:50%;
	cursor:pointer;
}


/* sort on list */
.sort-wrapper {
	width:100%;
	height:40px;
	line-height:40px;
	background:#fff;
	text-align:center;
}
.sort.active {
}
.sort b{
	font-weight:700;
}
.sort:hover{
	background:#fafafa;
}
.sort{
	border:1px solid #efefef;
	border-radius:2px;
	padding: 6px 10px;
	line-height:26px;
	display:inline;
	height:26px;
	cursor:pointer;
	margin:5px 0 0 10px;
   -webkit-transition-property: background;
    -webkit-transition-duration: .2s;
    transition-property: background;
    transition-duration: .2s;
}
.text-bold {
	line-height:26px;
	display:inline;
	height:26px;
}
#list-main {
	top:80px;
}

.list-item-main.unshortlist{
	opacity:0;
	max-height:0px;
	overflow:hidden;
}

.list-item-main {
	cursor: pointer;
	position:relative;
	box-sizing: border-box;	
	width:100%;
	max-height:500px;
	float:left;
	padding:10px 10px 10px 10px;
	border-bottom: 1px solid #eeeeee;
	display:inline-block;
    //-webkit-transition-property: box-shadow, border; /* Safari */
    //-webkit-transition-duration: .2s; /* Safari */
    //transition-property: box-shadow, border;
    //transition-duration: .2s;	
    -webkit-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;	
	transition-property: max-height,opacity;
	-webkit-transition-property:max-height,opacity;
}

.list-item-main:hover {
    //-moz-box-shadow: 3px 3px 15px #eeeeee;
    //-webkit-box-shadow: 3px 3px 15px #eeeeee;
    //box-shadow:  3px 3px 15px #eeeeee;
	background:#f6f6f6;
}

.list-item-content {
	float:left;
	width:350px;
	padding:0 10px;
}

.list-item-pic {
	height:100px;
	width:138px;
	float:left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.shortlist-item-pic {
	height:150px;
	width:200px;
	float:left;
	position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.shortlist-item-seen{
	background:#333;
	color:#fff;
	text-align:center;
	line-height:20px;
	position:absolute;
	margin-left:-5px;
	padding:0px 6px;
	bottom:0;
	margin-bottom: -5px;
	font-size:12px;
	opacity:0.7;
}
.shortlist-item-contacted{
	background-color: #428bca;
	color: #fff;
	text-align:center;
	line-height:20px;
	position:absolute;
	margin-left:-5px;
	padding:0px 6px;
	bottom:12px;
	margin-bottom: 5px;
	font-size:12px;
	opacity:0.7;
}
.shortlist-item-verified-icon {
	font-size:30px;
	position:absolute;
	color:green;
	top:0px;
	left:165px;
}
.shortlist-item-verified-icon-layer-1 {
	font-size:28px;
	left:166px;
	top:2px;
	position:absolute;
	color:#fff;
}
.shortlist-item-content {
	float:left;
	width:300px;
	padding:0 10px;
}

.list-item-title{
	font-size:16px;
	width:auto;
	padding:0 0 5px 0;
	height:20px;
	line-height:20px;
}

.list-item-location{
	font-size:13px;
	height:20px;
	line-height:20px;
}
.list-item-seen{
	background:#333;
	color:#fff;
	text-align:center;
	line-height:20px;
	position:absolute;
	margin-left:-5px;
	padding:0px 6px;
	bottom:0;
	margin-bottom: 5px;
	font-size:12px;
	opacity:0.7;
}
.list-item-contacted{
	background-color: #428bca;
	color: #fff;
	text-align:center;
	line-height:20px;
	position:absolute;
	margin-left:-5px;
	padding:0px 6px;
	bottom:22px;
	margin-bottom: 5px;
	font-size:12px;
	opacity:0.7;
}
.list-item-verified-icon {
	font-size:30px;
	position:absolute;
	color:green;
	top:5px;
	left:115px;
}
.list-item-verified-icon-layer-1 {
	font-size:28px;
	left:116px;
	position:absolute;
	top:7px;
	color:#fff;
}
.list-item-price {
	font-size:20px;
	font-weight:300;
	color:#222;
	margin-top:5px;
}
.list-item-price-negotiable {
	font-size:14px;
	font-weight:300;
}
.list-item-price-currency {
	font-weight:300;
	font-size:16px;
	padding-top:2px;
}
.list-item-time {
	height:20px;
	line-height:20px;
	width:300px;
	position:absolute;
	bottom:5px;
	right:0px;
	font-size:12px;
	font-weight:400;
	margin-right:20px;
	text-align:right;
	color:#888888;
}

.list-item-icons {
	height:20px;
	line-height:20px;
	position:absolute;
	right:0px;
	margin-right:20px;
	color:#888888;
	font-size:25px;
}

.list-item-conditionWrapper {
	margin-top:3px;
	width:100%;
	height:20px;
}
.list-item-highlight {
	color:#fff;
	border-radius:2px;
	padding:2px 5px;
	background:#27ae60;
}
.list-load-more span:hover {
	background:#fdfdfd;
}
.list-load-more  span{
	font-size:16px;
	color:#555;
	height:36px;
	line-height:36px;
	text-align:center;
	width:300px;
	text-align:center;
	border:1px solid #ccc;
	margin:0 auto;
	background:#fafafa;
	display:block;
	cursor:pointer;
	border-radius:4px;
    -webkit-transition-property: background; /* Safari */
    -webkit-transition-duration: .2s; /* Safari */
    transition-property: background;
    transition-duration: .2s;
}
.list-load-more {
	color:#555;
	height:36px;
	line-height:36px;
	float:left;
	width:100%;
	margin:20px 0;
}

.shortlist-action-icon:hover{
	font-size:22px;
	color:#e5e500;
}
.shortlist-action-icon.selected{
	font-size:28px;
	text-align:center;
	color:#e5e500;
	width:28px;
	height:28px;
}
.shortlist-action-icon {
	font-size:22px;
	text-align:center;
	width:28px;
	height:28px;
    -webkit-transition-property: color, font-size; /* Safari */
    -webkit-transition-duration: .2s; /* Safari */
    transition-property: color, font-size;
    transition-duration: .2s;
}
.shortlist-item-contact-photo{
	width:50px;
	height:50px;
	border-radius:50%;
	float:left;
	background-size: contain;	
}
.shortlist-item-contact-message-btn {
	position:absolute;
	right:10px;
	border-radius:2px;
	padding:8px 15px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;}

/* MAP related styles */
.map-marker-selected-wrapper{
	border:1px solid #999999;
	background:#fefefe;
	padding:5px 5px;
	width:220px;
	max-height:60px;
	overflow:hidden;
    -moz-box-shadow: 2px 2px 8px #585858;
    -webkit-box-shadow: 2px 2px 8px #888888;
    box-shadow: 2px 2px 8px #888888;
}
.map-marker-selected-content{
	margin-left:65px;
}
.map-marker-selected-title {
	font-size:14px;
}
.map-marker-selected-price {
	font-size:20px;
	font-weight:500;
	color:#222;
}
.map-marker-selected-photo {
	height:60px;
	width:60px;
	float:left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/* /MAP related styles */



/* DETAIL BOX */
.detail-box-wrapper {
	position:fixed;
	top:50px;
	bottom:0;
	right:-600px;
	z-index:1234;
	width:555px;
    -webkit-transition-property: right; /* Safari */
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-property: right;
    transition-duration: 0.5s;
}
.detail-box-content {
    position:absolute;
	background:#fff;
    bottom:0px;
    top:40px;
    overflow-x:hidden;
    overflow-y:auto;
	width:100%;
}
.detail-box-close-btn{
	color:#efefef;
	text-align:center;
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	position:absolute;
	margin-top:40px;
	margin-left:-40px;
	z-index:99999;
	background:#444444;
    -moz-box-shadow: -2px 2px 4px #aaaaaa;
    -webkit-box-shadow: -2px 2px 4px #aaaaaa;
    box-shadow: -2px 2px 4px #aaaaaa;
    -webkit-transition-property: color, font-size; /* Safari */
    -webkit-transition-duration: .2s; /* Safari */
    transition-property: color, font-size;
    transition-duration: .2s;
}
.detail-box-close-btn:hover{
	cursor:pointer;
	color:#fefefe;
}
.detail-box-content-photo-text {
	width:100%;
	position:absolute;
	top:230px;
	left:0;
	font-size:12px;
	color:#fff;
    -moz-text-shadow: 2px 2px 2px #333333;
    -webkit-text-shadow: 2px 2px 2px #333333;
    text-shadow: 2px 2px 2px #333333;
}
.detail-box-content-photo-text-left {
	width:300px;
	float:left;
	text-align:left;
	padding-left:10px;
	padding-top:15px;
	line-height:1.28;
}
.detail-box-content-photo-text-right {
	width:80px;
	float:right;
	text-align:right;
	padding-right:10px;
	padding-top:40px;
}
.detail-box-sub-text {
	font-size:11px;
}
.detail-box-large-text{
	font-size:18px;
}
/* /DETAIL BOX */